body {
    color: #eeeeee;
    background-color: #111111;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

#heroes, #general {
    width: 40%;
    margin: auto;
}

#general > p {
    font-size: 16px;
}

.hero {
    padding: 10px;
    margin: 10px 0;
    background-color: #333333;
}

.hero > img {
    height: 48px;
    margin: 5px;
}

.hero > h3 {
    font-size: 24px;
    margin: 5px;
}

.hero > ul {
    margin: 5px;
}
.hero > ul > li {
    font-size: 16px;
}